In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [3]:
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')
data = pd.read_csv('train.csv')
print(data.head())

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0         Urban           Y
1             1.0         Rural           N
2             1.0         Urban           Y
3             1.0         Urban           Y
4             1.0         Urban           Y

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [5]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
data.describe

<bound method NDFrame.describe of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]>

In [8]:
print(data.shape)

(614, 13)

In [7]:
print(data['Dependents'].unique())
print(data['Dependents'].value_counts())

['0' '1' '2' '3+' nan]
Dependents
0     345
1     102
2     101
3+     51
Name: count, dtype: int64

In [8]:
# เข้าถึงฐานข้อมูล ใช้เมธอด replace เพื่อแทนค่าในวงเล็บดังต่อไปนี้
# to_replace='3+' ไปยังค่าในคอลัมน์ที่ต้องการก็คือค่า 3+ ใช้ value='4' เพื่อเปลี่ยนเป็นค่า 4
data = data.replace(to_replace='3+', value='4')
print(data['Dependents'].value_counts)

<bound method IndexOpsMixin.value_counts of 0      0
1      1
2      0
3      0
4      0
      ..
609    0
610    4
611    1
612    2
613    0
Name: Dependents, Length: 614, dtype: object>

In [9]:
data = data.dropna()
print(data.isnull().sum())

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [10]:
data = data.replace({'Loan_Status': {'N': 0, 'Y': 1}})
print(data.head(8))

    Loan_ID Gender Married Dependents     Education Self_Employed  \
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No
5  LP001011   Male     Yes          2      Graduate           Yes
6  LP001013   Male     Yes          0  Not Graduate            No
7  LP001014   Male     Yes          4      Graduate            No
8  LP001018   Male     Yes          2      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0
5             5417             4196.0       267.0             360.0
6             2333             1516.0        95.0             360.0
7             3036             2504.0       158.0             360.0
8             4006             1526.0       168.0             360.0

   Credit_History Property_Area  Loan_Status
1             1.0         Rural            0
2             1.0         Urban            1
3             1.0         Urban            1
4             1.0         Urban            1
5             1.0         Urban            1
6             1.0         Urban            1
7             0.0     Semiurban            0
8             1.0         Urban            1

In [11]:
print(data['Married'].unique())
print(data['Gender'].unique())
print(data['Self_Employed'].unique())
print(data['Property_Area'].unique())
print(data['Education'].unique())

['Yes' 'No']
['Male' 'Female']
['No' 'Yes']
['Rural' 'Urban' 'Semiurban']
['Graduate' 'Not Graduate']

In [12]:
data = data.replace({'Married': {'No': 0, 'Yes': 1},
                     'Gender': {'Male': 0, 'Female': 1},
                     'Self_Employed': {'No': 0, 'Yes': 1},
                     'Property_Area': {'Rural': 0, 'Semiurban': 1, 'Urban': 2},
                     'Education': {'Graduate': 1, 'Not Graduate': 2}})
print(data.head())

    Loan_ID  Gender  Married Dependents  Education  Self_Employed  \
1  LP001003       0        1          1          1              0
2  LP001005       0        1          0          1              1
3  LP001006       0        1          0          2              0
4  LP001008       0        0          0          1              0
5  LP001011       0        1          2          1              1

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0
5             5417             4196.0       267.0             360.0

   Credit_History  Property_Area  Loan_Status
1             1.0              0            0
2             1.0              2            1
3             1.0              2            1
4             1.0              2            1
5             1.0              2            1

In [13]:
# ใช้คำสั่ง drop ทำการdrop ทั้งชื่อหัวข้อและค่าในแนวตั้ง axis=1
x = data.drop(columns= ['Loan_ID', 'Loan_Status'], axis=1)
y = data['Loan_Status']
y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int64

In [14]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.1, stratify=y, random_state=2)
print(xtrain, xtest, ytrain, ytest)

     Gender  Married Dependents  Education  Self_Employed  ApplicantIncome  \
122       1        0          0          1              0             2137
498       0        1          1          1              1             2895
144       0        1          2          1              0            11757
217       0        1          0          1              0             3727
362       0        1          0          1              0             4750
..      ...      ...        ...        ...            ...              ...
72        0        0          0          1              0             3500
390       0        0          4          1              0             9167
76        0        0          0          1              0             3750
286       1        0          0          1              1             2600
376       0        1          4          1              0             8750

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
122             8980.0       137.0             360.0             0.0
498                0.0        95.0             360.0             1.0
144                0.0       187.0             180.0             1.0
217             1775.0       131.0             360.0             1.0
362             2333.0       130.0             360.0             1.0
..                 ...         ...               ...             ...
72                 0.0        81.0             300.0             1.0
390                0.0       185.0             360.0             1.0
76              4750.0       176.0             360.0             1.0
286             1717.0        99.0             300.0             1.0
376             4996.0       130.0             360.0             1.0

     Property_Area
122              1
498              1
144              2
217              1
362              2
..             ...
72               1
390              0
76               2
286              1
376              0

[432 rows x 11 columns]      Gender  Married Dependents  Education  Self_Employed  ApplicantIncome  \
368       0        1          1          1              0             6325
74        0        1          4          1              1             5266
135       0        1          4          1              0             4000
53        0        1          2          1              0             4616
96        1        1          0          1              0             2484
388       0        1          0          1              0             2333
345       0        1          0          1              0             2499
8         0        1          2          1              0             4006
549       0        1          0          1              0             2785
99        0        1          0          1              0             1759
49        1        0          0          1              0             4000
513       0        1          0          1              0             2130
43        0        1          0          1              0             3941
92        0        1          2          2              0             3273
555       0        1          1          1              0             5468
609       1        0          0          1              0             2900
221       0        1          2          1              0             4009
454       0        0          0          1              1             7085
607       0        1          2          2              0             3987
179       0        0          0          2              0             2333
277       0        1          0          1              0             3103
488       0        1          2          1              1             4583
150       0        0          0          1              0             6277
585       0        1          1          1              0             4283
168       0        0          0          1              0             2237
267       0        1          4          1              0             4333
543       0        1          1          2              0             2239
520       0        1          2          2              0             2192
22        0        1          0          2              0             2600
69        1        0          0          1              0             4300
91        0        1          2          1              0             6250
250       0        1          0          2              0             1668
416       1        0          1          1              0             2600
154       0        0          0          1              0             3254
415       1        0          0          1              0             2995
291       0        1          2          1              0             4400
253       0        1          1          2              0             2661
97        0        1          0          1              0             1977
393       0        1          2          2              0             1993
399       1        0          0          1              0             1500
537       0        0          2          1              0             3617
15        0        0          0          1              0             4950
469       0        1          0          1              0             4333
371       0        1          2          1              0             5185
300       0        1          0          2              0             1800
189       0        1          0          1              0             9328
224       0        1          0          1              0             6250
201       0        0          2          1              0             4923

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
368                0.0       175.0             360.0             1.0
74              1774.0       187.0             360.0             1.0
135             7750.0       290.0             360.0             1.0
53                 0.0       134.0             360.0             1.0
96              2302.0       137.0             360.0             1.0
388             2417.0       136.0             360.0             1.0
345             2458.0       160.0             360.0             1.0
8               1526.0       168.0             360.0             1.0
549             2016.0       110.0             360.0             1.0
99              3541.0       131.0             360.0             1.0
49              2275.0       144.0             360.0             1.0
513             6666.0        70.0             180.0             1.0
43              2336.0       134.0             360.0             1.0
92              1820.0        81.0             360.0             1.0
555             1032.0        26.0             360.0             1.0
609                0.0        71.0             360.0             1.0
221             1717.0       116.0             360.0             1.0
454                0.0        84.0             360.0             1.0
607             1411.0       157.0             360.0             1.0
179             1451.0       102.0             480.0             0.0
277             1300.0        80.0             360.0             1.0
488             2083.0       160.0             360.0             1.0
150                0.0       118.0             360.0             0.0
585             3000.0       172.0              84.0             1.0
168                0.0        63.0             480.0             0.0
267             1811.0       160.0             360.0             0.0
543             2524.0       128.0             360.0             1.0
520             1742.0        45.0             360.0             1.0
22              1911.0       116.0             360.0             0.0
69                 0.0       136.0             360.0             0.0
91              5654.0       188.0             180.0             1.0
250             3890.0       201.0             360.0             0.0
416                0.0       160.0             360.0             1.0
154                0.0        50.0             360.0             1.0
415                0.0        60.0             360.0             1.0
291                0.0       127.0             360.0             0.0
253             7101.0       279.0             180.0             1.0
97               997.0        50.0             360.0             1.0
393             1625.0       113.0             180.0             1.0
399             1800.0       103.0             360.0             0.0
537                0.0       107.0             360.0             1.0
15                 0.0       125.0             360.0             1.0
469             2451.0       110.0             360.0             1.0
371                0.0       155.0             360.0             1.0
300             2934.0        93.0             360.0             0.0
189                0.0       188.0             180.0             1.0
224                0.0       128.0             360.0             1.0
201                0.0       166.0             360.0             0.0

     Property_Area
368              1
74               1
135              1
53               2
96               1
388              2
345              1
8                2
549              0
99               1
49               1
513              1
43               1
92               2
555              1
609              0
221              1
454              1
607              0
179              2
277              2
488              1
150              0
585              0
168              1
267              2
543              2
520              1
22               1
69               1
91               1
250              1
416              2
154              2
415              2
291              1
253              1
97               1
393              1
399              1
537              1
15               2
469              2
371              1
300              2
189              0
224              1
201              1   122    1
498    1
144    1
217    1
362    1
      ..
72     1
390    1
76     0
286    0
376    1
Name: Loan_Status, Length: 432, dtype: int64 368    1
74     1
135    0
53     0
96     1
388    1
345    1
8      1
549    1
99     1
49     1
513    0
43     1
92     1
555    1
609    1
221    1
454    1
607    1
179    0
277    1
488    1
150    0
585    0
168    0
267    1
543    1
520    1
22     0
69     0
91     1
250    0
416    0
154    1
415    1
291    0
253    1
97     1
393    1
399    0
537    1
15     1
469    0
371    1
300    0
189    1
224    1
201    1
Name: Loan_Status, dtype: int64

In [15]:
data = pd.concat([xtest,ytest], axis=1)
data.to_csv('text.text', index=False)

In [16]:
clf = svm.SVC(kernel='linear')

In [ ]:
clf.fit(xtrain, ytrain)

In [47]:
x_train_pred = clf.predict(xtrain)
Train_accuray_score = accuracy_score(x_train_pred, ytrain)
print('Trianing Score:', Train_accuray_score)

x_test_pred = clf.predict(xtest)
Test_accuracy_score = accuracy_score(x_test_pred, ytest)
print('Testing Score:', Test_accuracy_score)

Trianing Score: 0.7847222222222222
Testing Score: 0.875

In [48]:
from sklearn.metrics import precision_score, recall_score, f1_score

pred = precision_score(x_test_pred, ytest)
rec = recall_score(x_test_pred, ytest)
f1 = f1_score(x_test_pred, ytest)

print('Precision Score:', pred)
print('Recall Score:', rec)
print('F1 Score:', f1)

Precision Score: 1.0
Recall Score: 0.8461538461538461
F1 Score: 0.9166666666666666

In [51]:
inputs = (1,1,0,2,0,1800,2934.0,93.0,360.0,0.0,2)

# แปลง ค่าในตัวแปร inputs ให้เป็นรูปแบบ numPy Array [1 1 0 2 0 1800 ...]
# ส่วน reshape(1,-1) แปลงให้อยู่ใน dataframe2มิติ 1 แถว 11คอลัมน์
input_as_np_array = np.array(inputs).reshape(1,-1)

prediction = clf.predict(input_as_np_array)
print(prediction)

if (prediction[0] == 0):
    print('This person choose not get loan')
else:
    print('This person choose get loan')

[0]
This person choose not get loan

In [50]:
import joblib

joblib.dump(clf, 'clf_model.kpl')

['clf_model.kpl']