In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Loading dataset into pandas dataframe
data = pd.read_csv('train.csv')
print(data.head())

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0         Urban           Y
1             1.0         Rural           N
2             1.0         Urban           Y
3             1.0         Urban           Y
4             1.0         Urban           Y

In [3]:
print(data.isnull().sum())

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
# ลิสต์ค่าข้อมูลตัวเลข 0 1 2 3+ ในคอัลมน์ Dependents ว่ามีตัวเลขนี้กี่ตัว
data['Dependents'].value_counts()

Dependents
0     345
1     102
2     101
3+     51
Name: count, dtype: int64

In [5]:
# data.replace ทำการเข้าถึงฐานข้อมูลแล้ว ทำการเปลี่ยนค่าในฐานข้อมูล จาก '3+' แทนค่าเป็น '4' แล้วอัพเดทข้อมูลลงในตัวแปร data
data = data.replace(to_replace='3+', value='4')
data['Dependents'].value_counts()

Dependents
0    345
1    102
2    101
4     51
Name: count, dtype: int64

In [6]:
# เข้าถึงฐานข้อมูลแล้วใช้คำสั่ง dropna ทำการลบ เอาออกค่าในทุกแถวและคอลัมน์ที่ไม่มีค่า มักนำมาใช้กับข้อมูลที่ต้องการความชัดเจน ถูกต้อง
#** หลังจากพบเห็นค่าว่าง isnull จากโค้ด data.isnull().sum() ให้ใช้คำสั่ง dropna() ตาม
data = data.dropna()
print(data.isnull().sum())

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [7]:
data.replace({'Loan_Status': {'N':0, 'Y':1}}, inplace=True)
print(data.head(8))

    Loan_ID Gender Married Dependents     Education Self_Employed  \
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No
5  LP001011   Male     Yes          2      Graduate           Yes
6  LP001013   Male     Yes          0  Not Graduate            No
7  LP001014   Male     Yes          4      Graduate            No
8  LP001018   Male     Yes          2      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0
5             5417             4196.0       267.0             360.0
6             2333             1516.0        95.0             360.0
7             3036             2504.0       158.0             360.0
8             4006             1526.0       168.0             360.0

   Credit_History Property_Area  Loan_Status
1             1.0         Rural            0
2             1.0         Urban            1
3             1.0         Urban            1
4             1.0         Urban            1
5             1.0         Urban            1
6             1.0         Urban            1
7             0.0     Semiurban            0
8             1.0         Urban            1

In [8]:
# คำสั่ง unique() ทำการlist ค่าที่อยู่ในแต่ล่ะคอลัมน์แต่ล่ะตัวออกมาโดยไม่ซํ้ากัน
print(data['Married'].unique())
print(data['Gender'].unique())
print(data['Self_Employed'].unique())
print(data['Property_Area'].unique())
print(data['Education'].unique())

['Yes' 'No']
['Male' 'Female']
['No' 'Yes']
['Rural' 'Urban' 'Semiurban']
['Graduate' 'Not Graduate']

In [9]:
data.replace({'Married': {'No':0, 'Yes':1},
                    'Gender': {'Male': 1, 'Female': 0},
                    'Self_Employed': {'No':0, 'Yes': 1},
                    'Property_Area': {'Rural':0, 'Semiurban':1, 'Urban':2},
                    'Education': {'Graduate': 1, 'Not Graduate': 2}}, inplace=True)
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,2,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,1,0,2900,0.0,71.0,360.0,1.0,0,1
610,LP002979,1,1,4,1,0,4106,0.0,40.0,180.0,1.0,0,1
611,LP002983,1,1,1,1,0,8072,240.0,253.0,360.0,1.0,2,1
612,LP002984,1,1,2,1,0,7583,0.0,187.0,360.0,1.0,2,1
613,LP002990,0,0,0,1,1,4583,0.0,133.0,360.0,0.0,1,0

In [10]:
# ใช้คำสั่ง drop ทำการdrop ทั้งชื่อหัวข้อและค่าในแนวตั้ง axis=1
x = data.drop(columns= ['Loan_ID', 'Loan_Status'], axis=1)
y = data['Loan_Status']
y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int64

In [11]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.1, stratify=y, random_state=2)
print(x.shape, xtrain.shape, xtest.shape)

(480, 11) (432, 11) (48, 11)

In [12]:
print(xtest)

     Gender  Married Dependents  Education  Self_Employed  ApplicantIncome  \
368       1        1          1          1              0             6325
74        1        1          4          1              1             5266
135       1        1          4          1              0             4000
53        1        1          2          1              0             4616
96        0        1          0          1              0             2484
388       1        1          0          1              0             2333
345       1        1          0          1              0             2499
8         1        1          2          1              0             4006
549       1        1          0          1              0             2785
99        1        1          0          1              0             1759
49        0        0          0          1              0             4000
513       1        1          0          1              0             2130
43        1        1          0          1              0             3941
92        1        1          2          2              0             3273
555       1        1          1          1              0             5468
609       0        0          0          1              0             2900
221       1        1          2          1              0             4009
454       1        0          0          1              1             7085
607       1        1          2          2              0             3987
179       1        0          0          2              0             2333
277       1        1          0          1              0             3103
488       1        1          2          1              1             4583
150       1        0          0          1              0             6277
585       1        1          1          1              0             4283
168       1        0          0          1              0             2237
267       1        1          4          1              0             4333
543       1        1          1          2              0             2239
520       1        1          2          2              0             2192
22        1        1          0          2              0             2600
69        0        0          0          1              0             4300
91        1        1          2          1              0             6250
250       1        1          0          2              0             1668
416       0        0          1          1              0             2600
154       1        0          0          1              0             3254
415       0        0          0          1              0             2995
291       1        1          2          1              0             4400
253       1        1          1          2              0             2661
97        1        1          0          1              0             1977
393       1        1          2          2              0             1993
399       0        0          0          1              0             1500
537       1        0          2          1              0             3617
15        1        0          0          1              0             4950
469       1        1          0          1              0             4333
371       1        1          2          1              0             5185
300       1        1          0          2              0             1800
189       1        1          0          1              0             9328
224       1        1          0          1              0             6250
201       1        0          2          1              0             4923

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
368                0.0       175.0             360.0             1.0
74              1774.0       187.0             360.0             1.0
135             7750.0       290.0             360.0             1.0
53                 0.0       134.0             360.0             1.0
96              2302.0       137.0             360.0             1.0
388             2417.0       136.0             360.0             1.0
345             2458.0       160.0             360.0             1.0
8               1526.0       168.0             360.0             1.0
549             2016.0       110.0             360.0             1.0
99              3541.0       131.0             360.0             1.0
49              2275.0       144.0             360.0             1.0
513             6666.0        70.0             180.0             1.0
43              2336.0       134.0             360.0             1.0
92              1820.0        81.0             360.0             1.0
555             1032.0        26.0             360.0             1.0
609                0.0        71.0             360.0             1.0
221             1717.0       116.0             360.0             1.0
454                0.0        84.0             360.0             1.0
607             1411.0       157.0             360.0             1.0
179             1451.0       102.0             480.0             0.0
277             1300.0        80.0             360.0             1.0
488             2083.0       160.0             360.0             1.0
150                0.0       118.0             360.0             0.0
585             3000.0       172.0              84.0             1.0
168                0.0        63.0             480.0             0.0
267             1811.0       160.0             360.0             0.0
543             2524.0       128.0             360.0             1.0
520             1742.0        45.0             360.0             1.0
22              1911.0       116.0             360.0             0.0
69                 0.0       136.0             360.0             0.0
91              5654.0       188.0             180.0             1.0
250             3890.0       201.0             360.0             0.0
416                0.0       160.0             360.0             1.0
154                0.0        50.0             360.0             1.0
415                0.0        60.0             360.0             1.0
291                0.0       127.0             360.0             0.0
253             7101.0       279.0             180.0             1.0
97               997.0        50.0             360.0             1.0
393             1625.0       113.0             180.0             1.0
399             1800.0       103.0             360.0             0.0
537                0.0       107.0             360.0             1.0
15                 0.0       125.0             360.0             1.0
469             2451.0       110.0             360.0             1.0
371                0.0       155.0             360.0             1.0
300             2934.0        93.0             360.0             0.0
189                0.0       188.0             180.0             1.0
224                0.0       128.0             360.0             1.0
201                0.0       166.0             360.0             0.0

     Property_Area
368              1
74               1
135              1
53               2
96               1
388              2
345              1
8                2
549              0
99               1
49               1
513              1
43               1
92               2
555              1
609              0
221              1
454              1
607              0
179              2
277              2
488              1
150              0
585              0
168              1
267              2
543              2
520              1
22               1
69               1
91               1
250              1
416              2
154              2
415              2
291              1
253              1
97               1
393              1
399              1
537              1
15               2
469              2
371              1
300              2
189              0
224              1
201              1

In [13]:
# concat เป็นการเอาข้อมูลหลายๆ Dataframe มารวมกันในรูปแบบ Tables
# ในส่วนนี้ xtest มีข้อมูลถึง Gender ถึง ApplicantIncome ส่วน Y มีข้อมูลแค่ Loan_Status
# จะเอาข้อมูล2Dataframe มารวมกันใช้คำสั่ง pd.concat([xtest,ytest], axis=1) ส่วน axis=1 ให้รวมข้อมูลในคอลัมน์แนวตั้ง
data = pd.concat([xtest,ytest], axis=1)
data.to_csv('test.txt', index=False)

In [14]:
clf = svm.SVC(kernel='linear', C=1)

In [15]:
#train the support vector machine
# โยนข้อมุล xtrain ytrain เข้าไปเรียนรู้ใน clf ที่เก็บข้อมูล SVC 
clf.fit(xtrain, ytrain)

:

In [ ]:
# model evalution

# Accuracy score in 
x_train_pred = clf.predict(xtrain)
train_data_accuracy = accuracy_score(x_train_pred, ytrain)
print('Accuracy Score on Training data :', train_data_accuracy)

# Accuracy in test score
x_test_pred = clf.predict(xtest)
test_data_accuracy = accuracy_score(x_test_pred, ytest)
print('Accuracy Score on Testing data :', test_data_accuracy)

Accuracy Score on Training data : 0.7916666666666666
Accuracy Score on Testing data : 0.8333333333333334

In [ ]:
# mำการคำนวณหาประสิทธิภาพของโมเดล (Precision ความแม่นยำ) (Recall ความครอบคลุม)F1 (ความแม่นยำของการจำแนกประเภท) โดยนำข้อมูลการทำนายจาก x_test_pred และ ytest มาหาความแม่นยำย่อยๆต่อ 
from sklearn.metrics import precision_score, recall_score, f1_score

prec = precision_score(x_test_pred, ytest)
rec = recall_score(x_test_pred, ytest)
f1 = f1_score(x_test_pred, ytest)

print('Precision:', prec)
print('Recall:', rec)
print('F1:', f1)

Precision: 0.9393939393939394
Recall: 0.8378378378378378
F1: 0.8857142857142857

In [ ]:
# making prediction
# จัดเก็บข้อมูล 11ข้อมูลในรุปแบบ tuple ชุดข้อมูลที่แสดงตามลำดับและไม่สามารถเปลี่ยนแปลงข้อมูลนั้นได้
inputs = (1,1,0,2,0,1800,2934.0,93.0,360.0,0.0,2)

# Change input data to numpy array and reshape
# ทำการแปลงข้อมูลในตัวแปร inputs เป็น array NumPy = [1 1 0 2 0 1800 2934 ...] 
#ส่วน .reshape(1,-1) แล้วแปลงไปเป็น array 2 มิติที่มี 1 แถว 11คอลัมน์ (ซึ่งเหมาะกับการนำไปใช้กับ SVM) - อ่านเพิ่มเติมใน OneNote
input_as_np_array = np.array(inputs).reshape(1,-1)

# นำโมเดล clf ที่ได้ถูกฝึกสอนแล้วเอามาทำนายการให้สินเชื่อของแต่ล่ะบุคคลในตัวแปร input_as_np_array
prediction = clf.predict(input_as_np_array)
print(prediction)

# เชคว่าค่าใน Prediciton เป็น 0 หรือไม่
if (prediction[0] == 0):
    print('This person should not get loan')
else:
    print('This person is qualify for a loan')

[0]
This person should not get loan

In [ ]:
#saving our model
import joblib

joblib.dump(clf, 'clf_model.pkl')

['clf_model.pkl']